/* CSS declarations go here */
h1, h2, h3, h4, h5, h6 {
  font-weight:200;
  color: #757575;
}
p {
    font-size: 20px;
    font-weight:200;
    color: #757575;
}

.smalltext {
    font-size: 16px;
    font-weight:200;
    color: #757575;
}

.vertical_middle{
  vertical-align: middle;
}


.to-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smalltext {
    font-size: 16px;
    font-weight:200;
    color: #757575;
}

.input-border{

  border: 1px solid #00838f
}

/*.banner {
  height: 1px;
  background-color: transparent;
  border-bottom: 170px solid #00838f;
  border-right: 170px solid transparent;
  width: 100%;
  position:relative;
}

.banner:after{
  content:"";
  position:absolute;
  height: 0px;
  bottom:0px;
  background-color: transparent;
  border-top: 170px solid white;
  border-right: 170px solid transparent;
  width: 210px;
  z-index:-1;
  }*/

input{
      border-bottom: 0px !important
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
